/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#problematic files
 /css/app.css   
/css/app.css.map   
/js/index.js  
/js/index.js.
public/mix-manifest.json
 public/js/index.js