

body {
    background-size: cover;
    background-color: gray;
}

.header {
    min-height: 20vh;
    background-color: rgba(228, 220, 220,0.5);
}

.header__logo {
    height: 19vh;
}

.header__login {
    position:relative;

    .header__login__authenticated {
        max-width: 150px;
        margin-left: auto;
        a.dropdown-toggle {
            color:white;
            font-size: 1.5rem;
        }
        ul {
            list-style: none;
        }
    }
}



.header__login input {
    display: inline-block;
    max-width:150px;
}

.navigation {
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.71);
    color:#fff;
    line-height: 5vh;
    text-align: center;
}

.navigation div {
    margin: 0 auto;
}