@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}



body.modal__open {
    overflow: hidden !important;
}

header {
    background-color: rgba(0, 0, 0, 1);
    color:#fff;

    nav {
       .navbar-brand img {
        width: 50px;
       }
       .navbar-text div {
           display: inline-block;
           img {
               height: 30px;
               margin-left: 10px;
           }
       } 
    }
}

.auth__overlay {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top:0px;
    z-index: 10;
    background-color: rgba(47, 46, 46, 0.5);
    &.modal__open {
        display: flex;
    }

    &__modal {
        display: none;
        position: relative;
        width: 95%;
        max-height: 90vh;
        @media screen and (min-width:576px) {
            width: 50%;
        }
        margin: 0 auto;
        padding:5%;
        background-color:#fff;
        box-shadow: 20px 18px 48px -8px rgba(0,0,0,0.75);
        
        &.modal__register {
            overflow: scroll;
            @media screen and (min-width:576px) {
                overflow: hidden;
            }
        }

        &.modal__open {
            display: block;
        }

        &__close {
            position: absolute;
            top:6px;
            right:18px;
            font-weight: bold;
            font-size: 1.2rem;
            cursor: pointer;
        }

        form {
            margin-top: 2rem;
        }
    }


}

main {
    width:100%;
    margin: 0;

    section {
        max-width: 1144px;
        margin:0 auto;
    }
}


