@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}

header {
    background-color: rgba(228, 220, 220,0.5);
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1144px;
    min-height: 20vh;
    margin:0 auto;


    &__logo {
        flex: 0 0 100%;
        @media screen and (min-width:576px) {
            flex: 0 0 25%;
        }

        svg {
            display: block;
            margin:0 auto;
            width: 150px;
            @media screen and (min-width:768px) {
                width: 80%;
                margin: initial;
                margin-right: auto;
            }
            background-position: center;
        }
    }
    
    &__login {
        position:relative;
        flex: 0 0 100%;
        @media screen and (min-width:576px) {
            flex: 0 0 75%;
        }

        input {
            display: inline-block;
            max-width:150px;
        }

        &__authenticated {
            max-width: 150px;
            margin:0 auto;

            @media screen and (min-width:576px) {
                max-width: 150px;
                margin: initial;
                margin-left: auto;
            }

                a.dropdown-toggle {
                    color:white;
                    font-size: 1rem;

                    @media screen and (min-width:576px) {
                        font-size: 1.5rem;
                    }

                    }
                ul {
                    list-style: none;
                }
        }
    }
}

.navigation {
    width: 100%;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.71);
    color:#fff;
    line-height: 5vh;
    text-align: center;

    &__items {
        display: flex;
        max-width: 1144px;
        justify-content: space-around;
        margin: 0 auto;
        div {
            flex: 0 0 30%;
        }
    }
}


