a {
    color: black;
    text-decoration: none;
    :hover {
        color: black;
        text-decoration: none;
    }
}
.dashboard__container {
    margin-top: 80px;

    .dashboard__sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        max-width: initial;
        margin: 0 1rem;

        &__box {
            flex-grow: 0;
            flex-shrink: 1;
            background-color: white;
            margin: 2rem 0;

            &.subpage {
                flex-basis: 98%;
                min-height: 80vh;
                margin: 0 auto;
            }

            &__head {
                background-color: $dash-2;
                border: 1px solid black;
                height: 2rem;
                position: relative;

                .maximize__icon,
                .close__icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 2rem;
                    padding: 0.1rem;
                    line-height: 2rem;

                    img {
                        display: inline-block;
                        height: 1.5rem;
                        vertical-align: sub;
                    }
                }

                h2 {
                    font-size: 1.2rem;
                    text-align: center;
                    font-weight: bold;
                    line-height: 2rem;
                    vertical-align: center;
                }
            }

            &__body {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 20rem;
                background-color: $dash-3;
                border-width: 0px 1px 1px 1px;
                border-color: black;
                border-style: solid;

                &.content-loading {
                    background-color: #fff;
                    border: none;
                }

                &.subpage {
                    display: block;
                    height: 75vh;
                }

                &.addnotice {
                    height: 13vh;
                }

                //NOTICEBOARD BOX STYLES
                .notices__list {
                    width: 100%;
                    margin-bottom: 2rem;
                    padding: 1rem;
                    text-align: center;

                    &__item {
                        // width: 95%;
                        margin: 0.5rem auto;
                        border: 0.5px solid $secondary-blue;
                        padding: 0.2rem;
                        background-color: #fff;

                        &.item__featured {
                            background-color: rgba($orange, 0.3);
                        }

                        textarea {
                            width: 100%;
                            height: 30px;
                            border: none;
                            background-color: initial;
                        }
                        &__footer {
                            display: flex;
                            justify-content: space-between;

                            p {
                                text-align: left;
                            }

                            span {
                                text-align: left;
                                font-size: 0.8rem;
                                line-height: 1rem;
                                vertical-align: top;
                            }

                            span.item__featured__tag::after {
                                content: "TOP";
                                margin-left: 1rem;
                                padding: 4px;
                                border-radius: 5px;
                                font-size: 10px;
                                background-color: $orange;
                                color: #fff;
                                line-height: 1rem;
                                vertical-align: top;
                            }
                            .item__deleteTag {
                                display: inline-block;
                                line-height: 1.35rem;

                                button {
                                    height: 1rem;
                                    background: none;
                                    border: none;

                                    img {
                                        vertical-align: top;
                                        height: 0.9rem;
                                    }
                                }
                            }
                        }
                    }
                    &__adminHandler {
                        button {
                            border: none;
                            background: none;
                            img {
                                height: 40px;
                            }
                        }

                        a {
                            color: $secondary-blue;
                        }

                        form > button {
                            background-color: $orange;
                            color: white;
                        }

                        label {
                            width: 100%;
                        }

                        .ispermanent {
                            width: 35vw;
                        }

                        #notice {
                            width: 100%;
                            margin: 0 auto;
                            margin-top: 20px;
                            border-color: $gray;
                        }
                    }
                }

                //NOTICEBOARD BOX STYLES
                /*****************************************/
                //MESSENGER BOX styles START
                .messenger__container {
                    width: 100%;
                    padding: 0.5rem;

                    .messenger__item {
                        display: flex;
                        justify-content: space-between;
                        margin: 0.5rem 0;
                        &__img {
                            flex: 0 1 15%;
                            background-color: #fff;

                            > div {
                                display: flex;
                                align-items: center;
                                height: 100%;
                            }

                            img {
                                width: 100%;
                            }
                        }

                        &__body {
                            flex: 0 1 83%;
                            padding: 0.5rem;
                            background-color: #fff;

                            &__lastmsg {
                                display: flex;
                                justify-content: space-between;

                                .lastmsg__txt {
                                    flex: 0 1 85%;
                                }

                                .lastmsg__time {
                                    flex: 0 1 15%;
                                    font-size: 0.7rem;
                                    padding: 0.5rem;
                                }
                            }
                        }
                    }
                }

                ////MESSENGER BOX styles END
                /*****************************************/
                // CHATS BOX styles START
                .chat__container {
                    min-width: 75%;
                    max-height: 350px;
                    overflow: auto;
                    margin-bottom: 2rem;
                }

                .chat__bubble {
                    position: relative;
                    background: $secondary-blue;
                    color: #fff;
                    border-radius: 0.4em;
                    width: 40%;
                    margin-top: 2rem;
                    padding: 1rem;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        width: 0;
                        height: 0;
                        border: 21px solid transparent;
                        margin-top: -21px;
                    }

                    &.b__left {
                        margin-left: -50%;
                        &:after {
                            left: 0;
                            border-right-color: $secondary-blue;
                            border-left: 0;
                            margin-left: -21px;
                        }
                    }

                    &.b__right {
                        margin-right: -50%;
                        text-align: right;
                        &:after {
                            right: 0;
                            border-left-color: $secondary-blue;
                            border-right: 0;
                            margin-right: -21px;
                        }
                    }
                }
                //CHATS BOX styles END
                /*****************************************/
                // FOO BOX (placeholder) styles START
                &.bg-placeholder {
                    background-color: #fff;
                }
                .placeholder {
                    width: 100%;
                    overflow: hidden;
                }
                // FOO BOX (placeholder) styles END
                /*****************************************/
                // MY-RENT BOX styles START
                .myrent__container {
                    display: flex;
                    height: 20rem;
                    flex-direction: column;
                    justify-content: space-between;
                    line-height: 1rem;
                    padding: 0.5rem;

                    button {
                        background-color: $orange;
                        color: white;
                        line-height: 1.5rem;
                    }
                }
                // MY-RENT BOX styles END
                /*****************************************/
                //COMMUNITY BOX styles START
                .community__container {
                    width: 100%;
                    padding: 0.5rem;

                    .community__item {
                        display: flex;
                        justify-content: space-between;
                        margin: 0.3rem 0;
                        &__img {
                            flex: 0 1 15%;
                            background-color: #fff;
                            > div {
                                display: flex;
                                align-items: center;
                                height: 100%;
                            }

                            img {
                                width: 100%;
                            }
                        }

                        &__body {
                            flex: 0 1 83%;
                            padding: 0.5rem;
                            background-color: #fff;
                            line-height: 1rem;

                            .txt-small {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
                //COMMUNITY BOX styles END
                /*****************************************/
                //COMMUNITY SUBPAGE styles START
                .community__subpage {
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    padding: 0.5rem;

                    &__list {
                        flex: 0 0 28%;
                        overflow: auto;

                        .list__item {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin-bottom: 0.5rem;
                            cursor: pointer;

                            &__img {
                                flex: 0 1 25%;
                                background-color: #fff;
                                img {
                                    display: block;
                                    max-width: 100%;
                                    height: 50px;
                                    margin: 0 auto;
                                }
                            }

                            &__txt {
                                flex: 0 1 65%;
                                background-color: #fff;
                                padding: 0.5rem;
                                text-align: center;
                            }
                        }
                    }

                    &__detail {
                        flex: 0 0 70%;
                        height: 100%;
                        background-color: #fff;
                        border: 1px solid black;

                        .detail__item {
                            display: flex;
                            justify-content: space-between;
                            padding: 1.5rem 0;

                            &__img {
                                flex: 0 1 30%;

                                img {
                                    display: block;
                                    max-width: 100%;
                                    min-height: 100px;
                                    margin: 0 auto;
                                }
                            }

                            &__txt {
                                flex: 0 1 65%;
                                padding: 0.5rem;
                            }
                        }
                    }
                }
                //COMMUNITY SUBPAGE styles END
                /*****************************************/
            }
        }
    }
}

//special custom styles

.scrollable {
    overflow: auto;
    scroll-behavior: smooth;
}
