.index__main {
    width: 100%;
    min-height: 100vh;

    &__promo {
        display: flex;
        height: 50vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        
        h1,h5 {
            text-shadow: 2px 3px 6px rgba(0,0,0,0.96);
        }

        h1{ 
            font-size: 3rem;
        }
        h5 {
            font-size: 1.5rem;
            font-style: italic;
        }
    }
    &__features {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 70vmax;
        min-height: 30vh;
        margin: 0 auto;
        &__item {
            flex: 0 1 14vmax;
            min-height: 7vmax;
            background-color: rgba(24, 121, 191,0.7);
            color: #fff;
            border: 0.5px solid rgb(139, 139, 139);

            &:hover {
            background-color: rgba(24, 121, 191,1);
            }
            >div{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                text-align:center;

                i {
                    font-size: 2rem;
                }
            }
        }
    }
}