$content2boxesHeight: 80vh;

.div_1 {
    flex: 0 0 33%;
}

.div_2 {
    flex: 0 0 50%;
}

.div_3 {
    flex: 0 0 66%;
}

.div_4 {
    flex: 0 0 100%;
}

.heroBanner {
    height: 90vh;
    width: 100vw;

    > .vegas-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
    }

    &__features {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 50vmax;
        max-width: 70vmax;
        min-height: 30vh;
        margin: 0 auto;

        @media screen and (max-width: 991px) {
            display: block;
            min-height: 80px;
            width: 80%;
            margin: 0 auto 1rem auto;
        }
        &__item {
            flex: 0 1 14vmax;
            min-height: 7vmax;
            width: initial;
            margin: initial;
            background-color: rgba($secondary-blue, 1);
            color: #fff;
            border: 0.5px solid rgb(139, 139, 139);

            @media screen and (max-width: 991px) {
                min-height: 80px;
                width: 80%;
                margin: 0 auto 1rem auto;
            }

            &:hover {
                background-color: $orange;
            }
            > a {
                color: white;
                text-decoration: none;
            }
            > a > div {
                display: flex;
                min-height: 7vmax;
                justify-content: center;
                align-items: center;
                text-align: center;

                @media screen and (max-width: 991px) {
                    min-height: 80px;
                }

                img {
                    width: 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.fullwClaim {
    position: relative;
    width: 100%;
    min-height: 50vh;
    text-align: center;

    &__slogan {
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: italic;
        color: $gray;
    }
}

.content2boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &.imgLeft {
        flex-direction: row-reverse;
    }

    .box {
        flex: 0 0 50%;
        height: $content2boxesHeight;
        padding: 2%;
    }

    .flexContainer {
        width: 100%;
        align-self: stretch;
    }

    &__box__txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &__head {
            text-align: left;
            padding: 2%;
        }
        &__body {
            display: flex;
            width: 100%;
            justify-content: space-between;

            &.textRight {
                flex-direction: row-reverse;
                text-align: right;
            }

            &__txt {
                flex: 0 1 65%;
            }
            &__link {
                flex: 1 1 35%;
                align-self: flex-end;
                line-height: 50px;
                position: relative;

                &.arrowRight::after {
                    content: url("/img/icons/homepage/arrow-right.svg");
                    height: 50px;
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    align-items: center;
                    transition: all 0.5s ease-in;
                }

                &.arrowRight:hover:after {
                    transform: scale(1.2);
                }

                &.arrowLeft {
                    text-align: left;
                    margin-left: 2rem;
                }
                &.arrowLeft::before {
                    content: url("/img/icons/homepage/arrow-left.svg");
                    height: 50px;
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: -35px;
                    align-items: center;
                    transition: all 0.5s ease-in;
                }

                &.arrowLeft:hover:before {
                    transform: scale(1.2);
                }
            }
        }
    }
    &__box__img {
        overflow: hidden;
        height: $content2boxesHeight;
        background-size: cover;
        transition: all 1s ease-in-out;

        &#ilustr-obyvatele {
            background-image: url("/img/homepage/ilustr-obyvatele.jpg");
        }
        &#ilustr-vlastnici {
            background-image: url("/img/homepage/ilustr-vlastnici.jpg");
        }

        &#ilustr-spravci {
            background-image: url("/img/homepage/ilustr-spravci.jpg");
        }
        &#ilustr-dodavatele {
            background-image: url("/img/homepage/ilustr-dodavatele.jpg");
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

.page__main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 3rem;

    &__promo {
        display: flex;
        height: 50vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;

        h1,
        h5 {
            text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.96);
        }

        h1 {
            font-size: 3rem;
        }
        h5 {
            font-size: 1.5rem;
            font-style: italic;
        }
    }

    &__info {
        display: flex;
        width: 100%;
        min-height: 40vh;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        text-align: center;

        h2 {
            text-align: center;
        }

        div {
            margin: 2rem 0;
            padding-right: 1rem;
            text-align: left;
        }

        img {
            width: 75px;
            display: block;
            margin: 0 auto;
        }
    }

    &__flat {
        h3 {
            color: #fff;
            text-align: center;
            margin: 1rem 0;
            // background-color: rgba(#fff, 0.6);
        }

        &__container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            @media screen and (max-width: 991px) {
                display: block;
            }

            &__item {
                flex: 0 1 30%;
                margin: 1rem;

                &__head {
                    width: 100%;
                    line-height: 1.35rem;
                    background-color: $secondary-blue;
                    color: #fff;
                    text-align: center;
                }

                &__body {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    background-color: rgba($color: #fff, $alpha: 0.8);
                    padding: 0.5rem;

                    > div {
                        flex: 0 0 50%;
                        padding: 0 0.5rem;
                    }

                    img {
                        flex: 0 0 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    &__timeline {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        color: #fff;

        &__bubble {
            position: relative;
            background: $secondary-blue;
            color: #fff;
            border-radius: 0.4em;
            width: 50%;
            margin-top: 2rem;
            padding: 1rem;

            &.b__left {
                margin-left: 40%;
                &:after {
                    left: 0;
                    border-right-color: $secondary-blue;
                    border-left: 0;
                    margin-left: -21px;
                }
            }

            &.b__right {
                margin-right: 40%;
                &:after {
                    right: 0;
                    border-left-color: $secondary-blue;
                    border-right: 0;
                    margin-right: -21px;
                }
            }
        }

        &__bubble:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 0;
            height: 0;
            border: 21px solid transparent;
            margin-top: -21px;
        }
    }
    .custom__table {
        width: initial;
    }

    &.housesList {
        @media screen and (max-width: 991px) {
            width: 90%;
            margin: 0 auto;
        }
    }

    .item__housesList {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 991px) {
            display: block;
        }

        img {
            max-width: 45%;
            max-height: 45%;
            align-self: left;
        }
    }
}

#map {
    margin-top: 80px;
    width: 98vw;
    height: 70vh;

    @media screen and (max-width: 991px) {
        height: 40vh;
    }
}
